<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Title</title>
    </head>
    <body>
        {{> header}}
        <p>Site under maintainence . We will be right back ...</p>
        {{> footer}}
    </body>
</html>